#footer {
    background: #38383a;
    color: #fff;
    font-size: 14px;
    padding: 50px 20px 30px;
    position: relative;
    height: 380px;
    margin-top: 180px;
  }
  
  #footer .wrap {
    max-width: 1280px;
    margin: 0 auto;
    height: 74%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  
  /* 메뉴 */
.footer-menu{
  
  grid-column: 1 / span 3;
  grid-row: 1;
}
  .footer-menu ul {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
  }
.footer-menu ul li{
  
}
.footer-menu a {
  color: #fff;
  font-weight: 600;
  font-size: 19px;
}
.footer-menu a:hover{
  border-bottom: 1px solid;
}
  
/* 메인 컨텐츠 */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  grid-column: 1 / span 4;
  grid-row: 2;
  width: 1280PX;
}

/* 왼쪽 (회사 정보) */
.c1 {
  display: flex;
}

.c1 .logo {
  width: 259px;
  margin-bottom: 20px;
  height: 35px;
}
.c1 address{
  width: 320px;
  margin-left: 36px;
}
  
.c1 address p {
  color: #c1c1c3;
  font-size: 13.5px;
  line-height: 1.7;
  font-weight: 500;
}

/* 가운데 (고객센터) */
.c2 {
}
  
.c2 h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 800;
}
  
.c2 ul li {
  font-size: 16px;
  margin: 8px 0;
}

.c2 ul li strong {
  margin-left: 13px;
}
.c2 ul li:nth-child(2) strong{
  
  margin-left: 57px;
}

.c2 .notice {
  text-align: start;
  font-size: 12px;
  color: #c1c1c3;
  margin-top: 20px;
}

/* 오른쪽 (결제안내) */
.c3 {
  text-align: end;
}

.payment-logos {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-bottom: 32px;
  align-items: center;
}

  .payment-logos img {
    height: 40px;
    /*! align-items: center; */
    display: flex;
  }
  
  .payment-text {
    text-align: right;
    color: #c1c1c3;
  }
  
  /* 패밀리 사이트 */
  .footer-family {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-bottom: 34px;
  }
  
  .family-site {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9px;
  }
  
  .family-site img {
    width: 20px;
    height: 20px;
  }
  
  .family-line {
    width: 210px;
    height: 3px;
    background: #fff;
    margin-top: 8px;
  }
  