.kf{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }
  /* 레이아웃 스타일링 */
  section{
  height: 100vh;
  }
  .wrap{
    width: 1280px;
    margin: 0 auto;
    width: 100%;
  }
  .flex{
    display: flex;
  }
  .flex-between{
    justify-content: space-between;
  }
  .flex-column{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }
  nav a{
  display: block;
  }
  .block{
    display: block;
  }

  /* 텍스트 스타일링 */
  .h1{
    font-size: 100px;
    font-weight: bold;
  }
  .h2{
    font-size: 87px;
  }
  .h3{
    font-size: 70px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
  .h4{
    font-size: 60px;
  }
  .h5{
    font-size: 50px;
  }
  .p{
    font-size: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
  .m{
     font-size: 25x;
  }
  .sm{
    font-size: 20px;
  }
  .xs{
     font-size: 16px;
  }
  /* 컬러 */
  .black,.black a{
    color: black !important;
  }
  .white, .white a{
    color: #fff;
  }
  .gray{
    color: #aeb0b2;
  }

/* 버튼 */

  .hide{
    display: none;
  }
  .detail-btn {
    margin-top: 10px;
    padding: 8px 20px;
    border: 2px solid #333;
    color: #333;
    font-size: 17px;
    transition: background 0.3s, color 0.3s;
    width: 116px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 46%;
    left: 17%;
    text-align: center;
  }
  
  .detail-btn:hover {
    background: #353537;
    color: #fff;
    box-shadow: 0px 0px 3px #353537;
  }

  /*  모바일  */
@media screen and (max-width:768px){

  section {
    height: calc(100vh - 100px);
  }
  .wrap{
    padding: 0 35px;
  }
  
  /* 텍스트 스타일링 */
  .h1{
    font-size: calc(66px * 0.404);
  }
  .titlep{
    font-size: 12px;
  }
  .menu{
    font-size: 14px;
  }
}